/* DEFAULT / MAIN PAGE STYLING */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "cards"
}

/* HEADER SECTION */

header {
  align-items: center;
  background-color: #524649;
  color: white;
  display: flex;
  font-size: 2rem;
  grid-area: header;
  justify-content: space-between;
  padding: 0 20px;
}

.logo span {
  color: #B2A1B1;
  padding: 0 5px;
}

.logo h1, .logo span {
  font-weight: 800;
  margin: 20px 10px;
}

.search-area {
  padding: 0 10px;
}

.search-bar {
  color: #ACAAB6;
  border: 1px solid #ACAAB6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.search-btn {
  background-color: #ACAAB6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  margin: 0 0 0 -10px;
  padding: 5px 10px;
}

/* MAIN INPUT AREA */

.main-input {
  align-items: center;
  background-color: #EAEAEA;
  display: flex;
  grid-area: main;
  flex-direction: column;
}

.main-input-field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.user-input-label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.save-btn, .user-input {
  border: 1px solid #ACAAB6;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 40px;
  padding: 0 0 5px 5px;
  width: 600px;
}

.save-btn {
  border: none;
  font-weight: 600;
  margin-bottom: 20px;
}

.body-input {
  height: 150px;
  font-weight: 500px;
  resize: none;
}

.save-btn {
  background-color: #6E646B;
  color: white;
}

.save-btn:hover {
  background-color: #524649;
}

.save-btn:disabled {
  background-color: #C2C1C0;
}

/*CARD SECTION*/

.action-btns {
  align-items: center;
  display: flex;
  margin: 0 0 0 5px;
}

.card-actions {
  border-top: 2px solid #D2CCCD;
  display: flex;
  justify-content: space-between;  
  padding: 5px 0;
}

.card-actions img {
  background-color: white;
  height: 30px;
  width: 30px;
}

.card-body-text {
  color: #7C7879
}

.card-title-body {
  padding: 10px;
}

.card-title-text {
  color: #6E646B;
  font-weight: 600;
  margin-bottom: 10px; 
}

.downvote, .idea-quality, .upvote {
  border: none;
  padding: 0 7px;
}

.delete {
  margin: 0 12px;
}

.idea-card {
  border: 2px solid #D2CCCD;
  border-radius: 5px;
  width: 600px;
}

.idea-card-area {
  align-items: center;
  display: flex;
  grid-area: cards;
  flex-direction: column;
  margin-top: 20px;
}

.idea-quality {
  color: #7C7879;
  font-weight: 600;
  padding-left: 5px;
}
