* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "cards"
}
/* HEADER SECTION */
header {
  grid-area: header;
  background-color: #524649;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 2rem;
}

.logo h1, header span {
  font-weight: 800;
  margin: 20px 10px;
  
}

header span {
  color: #B2A1B1;
  padding: 0 5px;
}

.search-area {
  grid-area: search;
  padding: 0 10px;
}
.search-bar {
  color: #ACAAB6;
  border: 1px solid #ACAAB6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;

}

.search-btn {
  background-color: #ACAAB6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin-left: -10px;

}

/* MAIN INPUT AREA */

.main-input {
  background-color: #EAEAEA;
  grid-area: main;
}

.idea-card-area {
  grid-area: cards;
}

.save-btn {
  background-color: #6E646B;
  color: white;
}

.save-btn:hover {
  background-color: #524649;
}

.save-btn:disabled {
  background-color: #C2C1C0;
}

.idea-card-area {
  border: 2px solid #D2CCCD;
  border-radius: 5px;
}

.card-title-body h2 {
  color: #6E646B;
}

.card-title-body p, .card-title-body h3 {
  color: #7C7879
}

